html {
	font-size: 16px;
	scroll-behavior: smooth;

}

body {
	margin: 0;

	font-family: "Poiret One", cursive;
	font-size: 1rem;
	line-height: 1.6;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 1rem;
}

/*___ Page __*/

.page {
	max-width: 100%;
	height: 100vh;
	min-height: 750px;
	position: relative;
	overflow: hidden;
}

.page__intro{
	background: linear-gradient(to top, black, transparent),
	radial-gradient(circle farthest-corner at 190px 180px, rgba(1,1,1,0.1) 0%, #000000),
	url("../image/house.png") center no-repeat; background-size: cover;
}


.page__about {
	height: 100%;
	max-height: 200vh;
	min-height: 1070px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
}

.page__projects {
	height: 100%;
	min-height: 1060px; 
	max-height: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	background: radial-gradient(circle at center, rgba(2,9,22,0) 0%, rgba(1,7,16,0.31) 31%, #01050d 100%),
	url("../image/Rectangle 5.png") center no-repeat,
	url("../image/background_2.png") center no-repeat; background-size: cover; opacity: 1;
}

.page__contacts {

	height: 100%;
	max-height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.8) 36%, rgba(15,15,30,0.5) 50%, rgba(0,0,0,0.7) 66%, rgba(0,0,0,1) 72%),
	url("../image/texas.png") center no-repeat,
	#000; background-size: contain;
}



/*____ Header___*/

.header {
	max-width: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	
	z-index: 100;
}

.header__title {
	font-size: 1.8rem;
	color: #ffffff;
	font-weight: 400;
	font-family: "Poiret One", cursive;
	margin: 58px 40px;

	z-index: 2;
}

.header_burger {
	display: none;
}

.menu {
	margin-right: 50px;
}

.menu_link {
	font-family: 'Poiret One', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 1rem;

	display: inline-block;
	vertical-align: top;
	margin: 54px 40px;
	text-decoration: none;

	transition: color .2s linear;
}

.menu_link:hover {
	color: #d8ad47;
}

.backTop {
	margin-top: 0;
	margin-bottom: 0;
}

/*___ Content ____ */

.content {
	width: 100%;
	max-width: 610px;
}

.content__intro {
	max-width: 440px;
	position: absolute;
	top: 50%;
	left: 5%;
	margin-top: -87px;
	padding: 0 25px;
}


.content__about {
	max-width: 440px;
	margin-left: 40px;
	padding: 5px 25px;
}

.content__projects {
	width: 450px;
	margin-left: 40px;
	margin-bottom: 20px;
	padding: 5px 30px;
}

.content_contacts {
	width: 100%;
	max-width: 540px;
	max-height: 315px;
	margin-left: 40px;
}


.content__title {
	font-size: 1.7rem;
	color: #ffffff;
	font-weight: 600;
	font-family: "Montserrat Alternates", sans-serif;
	
}

.content__title__projects {
	color: #d8ad47;
}

.about{
	color: #d8ad47;
}

.content__text {
	font-family: "Poiret One", cursive;
	font-weight: 400;
	color: #fff;
	opacity: .8;
	margin: 5px 0 20px;
}


.text__projects {
	padding-bottom: 20px;
}

/*_____ btn ____*/

.button {
	display: block;
	max-width: 220px;
	max-height: 40px;
	background-color: #d8ad47;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: solid 1px #DEAB31;
	overflow: hidden;
	transition: .3s linear;
	align-items: center;
	text-align: center;
	padding: 0;
}


.btn {
	width: 100%;
	display: block; 
	font-family: "Montserrat Alternates", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	outline: 0;
	text-decoration: none;

	padding: 5px 20px;
	position: relative;
	
}


.button:hover {
	filter: drop-shadow(0 0 5px #d8ad47);
	background-color: #EDC056;
}

.button:active {
	border: solid 1px #C8A040;
	background-color: #AD8D40;
}

.button:focus {
	outline: none !important;
    border-color: #d8ad47;
    box-shadow: 0 0 10px #d8ad47;
}


.backtoTop {
	text-decoration: none;
}
   
/*_____ about(items) ____*/

.image_about {
	width: 660px;
}

.house {
	width: 100%;
	height: 100%;
	max-width: 650px;
	max-height: 510px;
	margin: 0 40px;
	padding: 60px 20px;
	opacity: .8;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: .5;

	margin: 40px 0;
}

.foil {
	width: 610px;
	margin-left: -45px;
	max-height: 120px;
	display: flex;

	align-items: center;


}

.image__foil {
	width: 160px;
	height: 105px;
}

.foil__text {
	color: #d8ad47;
	font-size: 1.2rem;
	margin-left: -18px;
}

/*_____ projects ____*/

.project__boston {
	width: 100%;
	height: 100%;
	max-width: 718px;
	max-height: 364px;
	margin: 20px 15px 15px auto;

	padding: 10px 0 20px;
	overflow: hidden;
	border-radius: 40px;

	background: linear-gradient(to top, rgba(0,0,0,0.4)100%, transparent),
	url("../image/boston.png") center no-repeat; background-size: cover;

	

}

.project__boston:hover {
	background: linear-gradient(to top, rgba(0,0,0,0.3)100%, transparent),
	url("../image/boston.png") center no-repeat; background-size: cover;

	box-shadow: 0px 3px 10px 1px rgba(32, 32, 36, 1);
}

.project__title_boston {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 900;
	font-size: 4.3rem;
	color: #fff;

	margin-left: 35px;
}

.subtitle {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 800;
	font-size: 2.2rem;
	color: #d8ad47;

	margin-top: -20px;
	margin-left: 40px;
}

.block_emblems {
	display: flex;
	margin-top: 10px;
	margin-left: 35px;

}

.emblem {
	width: 34px;
	height: 33px;
}

.text__bathroom {
	margin-left: 8px;
}

.button_project {
	margin-left: 35px;
	margin-top: 15px;
	max-width: 120px;
	max-height: 40px;
	border: solid 1px #fff;
	background-color: transparent;
	transition: background .2s linear;
}

.btn__project {
	display: block;
	color: #fff;
}

.button_project:hover {
	border: solid 1px #d8ad47;
	background-color: #d8ad47;
	color: #000;
}

.button_project:active {

	border: solid 1px #C8A040;
	background-color: #AD8D40;
}

.projects {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 365px;
	border-radius: 40px;
	padding: 10px 0 20px;
	margin: 30px auto;

	background-color: #fff;
	overflow: hidden;

}


.project__miami {
	margin-left: 60px;

	background: linear-gradient(to top, rgba(0,0,0,0.6)100%, transparent),
	url("../image/miami.png") center no-repeat; background-size: cover;
}

.project__miami:hover {
	background: linear-gradient(to top, rgba(0,0,0,0.4)100%, transparent),
	url("../image/miami.png") center no-repeat; background-size: cover;

	box-shadow: 0px 3px 10px 1px rgba(32, 32, 36, 1);
}

.projects__title {
	display: inline-block;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 900;
	font-size: 3.2rem;
	color: #fff;

	margin: 0 40px 10px 35px;
}

.projects__subtitle {
	font-size: 1.9rem;
	margin-left: 40px;
}

.project__sietl {
	background: linear-gradient(to top, rgba(0,0,0,0.6)100%, transparent),
	url("../image/sietl.png") center no-repeat; background-size: cover;
}

.project__sietl:hover {
	background: linear-gradient(to top, rgba(0,0,0,0.4)100%, transparent),
	url("../image/sietl.png") center no-repeat; background-size: cover;

	box-shadow: 0px 3px 10px 1px rgba(32, 32, 36, 1);
}


.project__orlando {
	background: linear-gradient(to top, rgba(0,0,0,0.6)100%, transparent),
	url("../image/orlando.png") center no-repeat; background-size: cover;
}

.project__orlando:hover {
	background: linear-gradient(to top, rgba(0,0,0,0.4)100%, transparent),
	url("../image/orlando.png") center no-repeat; background-size: cover;

	box-shadow: 0px 3px 10px 1px rgba(32, 32, 36, 1);
}

/*_____ contacts ____*/

.contacts {
	width: 100%;

	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
	

}

.contact__title {
	color: #d8ad47;
	margin-bottom: 30px;

}

.map {
	opacity: .6;
	width: 259px;
	height: 218px;
	border: none; 
	border-radius: 40px;
}


.location {
	width: 100%;
	max-width: 560px;
	display: flex;
	align-items: center;
}


.contact_links {
	margin-left: 50px;
}

.contact_link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin: 14px 0;
	padding: 5px 10px 5px 44px;
	opacity: .8;
	transition: opacity .2s linear;
}



.pin {
	background: url("../image/emblems/location-pin.png") no-repeat;
}

.tell {
	background: url("../image/emblems/call.png") no-repeat;
}

.mail {
	background: url("../image/emblems/email.png") no-repeat;
}

.contact_link:hover {
	opacity: 1;
}

/*_____ form ____*/
.form_block {
	position: relative;
	width: 100%;
	max-width: 460px;
	height: 100%;

	margin-top: 100px;
	margin-right: 60px;
	border-radius: 40px;

	background: rgba(255, 255, 255, .2);
}

.form_title {
	font-size: 1rem;
	color: #ffffff;
	font-weight: 400;
	font-family: "Montserrat Alternates", sans-serif;
	text-align: center;
	padding: 30px 80px 5px 80px;
}

.form-group {
	margin: 0 50px 10px 50px;
	
}

.input_tel {
	margin-bottom: 55px;
}

input {
	display: block;
	width: 100%;
	padding: 10px 18px;
	font-family: "Poiret One", cursive;
	font-size: 1rem;
	color: #fff;
	line-height: 1.6;
	border-style: none none solid none;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 0);
	
}

input::placeholder {
	color: #fff;
}

input:focus { 
    outline: none !important;
    border-color: #d8ad47;
    box-shadow: 0 0 10px #d8ad47;
}

.button_form {
	position: absolute;
	left: 50%;
	bottom: 2%;
	margin-left: -50px;
}



/*_____ footer ____*/

.footer {
	width: 100%;
	height: 160px;
	text-align: center;
	background-color: #000;
}

.footer_title {
	font-size: 1.8rem;
	color: #ffffff;
	font-weight: 400;
	font-family: "Poiret One", cursive;
}

.point {
	font-weight: 400;
	font-size: 2rem;
	color: #ffd500;
}

.footer_text {
	color: #fff;
}

.backTop {
	text-decoration: none;
}

/*_____ media______*/

@media(max-width: 1260px) {
	.content__about {
		max-width: 933px;
		padding: 5px 30px;
	}

	.foil {
		width: 1037px;
		padding: 0 30px;
	}

	.house {
		display: block;
		margin: 0 auto;
	}

	.project__boston {
		max-width: 650px;
	}

	.projects {
		max-width: 560px;
	}
}

@media(max-width: 1180px) {
	.page__projects {
		display: block;
		max-height: 1706px;
	}
	.content__projects {
		width: 100%;
		max-width: 1020px;
	}
	.project__boston {
		margin: 10px auto;
		max-width: 710px;
	}
	.projects {
		margin: 10px auto;
		max-width: 710px;
	}
}

@media(max-width: 1103px) {
	.contacts {
		display: block;

	}

	.contact__title {
		font-size: 1.4rem;
		margin-bottom: 20px;
		text-align: center;
	}
	.content_contacts {
		max-width: 1200px;
	}

	.content_contacts .content__text {
		text-align: center;
	}
	.location {
		max-width: 690px;
		margin: 0 auto;
	}
	.contact_links {
		margin-left: 150px;
	}
	.form_block {
		margin: 80px auto 10px;
		min-height: 250px;
	}
}

@media(max-width: 1024px) {
	.content__about {
		margin-left: 20px;
	}
	.content__projects {
		margin-left: 20px;
	}

	.foil {
		display: block; 
		width: 100%;
		margin-left: 0;
	}
	.image__foil {
		display: none;
	}

}


@media(max-width: 740px) {
	.project__boston {
		margin: 10px 15px;
		padding: 10px 20px 20px;
	}

	.projects {
		margin: 10px 15px;
		padding: 10px 20px 20px;
	}

	.project__title_boston {
		font-size: 3rem;
	}

	.projects__title {
		font-size: 3rem; 
	}

	.subtitle {
		font-size: 2rem;
	}
}

@media(max-width: 722px) {

	.content__intro {
		left: 1%;
	}
	.header__title{
		font-size: 1.6rem;
		margin: 58px 15px;
	}

	.menu {
		display: block;
		margin-right: 15px; 
	}

	.menu_link {
		display: block;
		margin: 25px 10px;
	}
	.project__boston {
		max-width: 100%;
		margin: 10px 0;
	}
	.projects {
		max-width: 100%;
		margin: 10px 0;
	}
	.location {
		max-width: 525px;
	}
	.contact_links {
		margin-left: 18px;
	}

	.form_block {
		max-width: 420px;
	}
}

@media(max-width: 664px) {

	.page__projects {
		max-height: 1800px;
	}


	.contact__title {
		text-align: center;
	}

	.content_contacts .content__text {
		text-align: center;
	}

}

@media(max-width: 535px) {

	
	.form_title {
		padding-right: 15px;
		padding-left: 15px;
	}

	.page__contacts {
		max-height: 840px;
	}

	.content__title {
		margin-top: 20px;
	}

	.content_contacts {
		margin-left: 0;
		max-height: 460px;
	}
	.location {
		display: block;
	}
	.map {
		display: block; 
		margin: 0 auto;
	}
	.contact_links {
		max-width: 215px;
		display: block;
		margin: 20px auto;
	}

	.contact_link {
		display: block;
		margin: 30px 0;
	}

	.project__title_boston {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	.projects__title {
		font-size: 2rem; 
		margin-bottom: 10px;
	}
	.subtitle {
		font-size: 1.2rem;
	}
}


@media(max-width: 462px) {
	.content__title {
		font-size: 1.2rem;
	}
	.house {
		display: none;
	}
}



@media(max-width: 410px) {


	.form_block {
		border-radius: 0;
	}
	.form-group {
		margin-left: 20px;
		margin-right: 20px;
	}
}